<div class="form-signin text-center">
<%= form_tag %>


<h2 class="form-signin-heading text-center">Please sign in</h2>
  
  
    <%= text_field "username", "name" , "class" => "form-control" , "placeholder" => "Username"%>
 <br/>
    <%= password_field "password", "name" , "class" => "form-control" , "placeholder" => "Password"%>
  
  
    <%= submit_tag "Sign In" , "class" => "btn btn-lg btn-primary btn-block input"%>   
    
  

<%= link_to "Forgot Password" %>
</form>
</div>


