<h1>GOA UNIVERSITY</h1>
<h2>HELP DESK</h2>
<p>Log In</p>

<%= form_tag %>
  <p>
   Username<br />
    <%= text_field "username", "name" %>
  </p>
  <p>
    Password:<br />
    <%= password_field "password", "name" %>
  </p>
  <p>
    <%= submit_tag("Sign In") %>   
    
  </p>

<%= link_to "Forgot Password" %>
</form>
