<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @login.Username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @login.Password %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
