<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br>
    <%= f.text_field :purpose %>
  </div>
  <div class="field">
    <%= f.label :noOfPpl %><br>
    <%= f.text_field :noOfPpl %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br>
    <%= f.text_field :from_date %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br>
    <%= f.text_field :to_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
