<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @reservation.res_type %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @reservation.purpose %>
</p>

<p>
  <strong>Noofppl:</strong>
  <%= @reservation.noOfPpl %>
</p>

<p>
  <strong>From date:</strong>
  <%= @reservation.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @reservation.to_date %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
