<h1>Listing hall_res</h1>

<table>
  <thead>
    <tr>
      <th>Reservation</th>
      <th>Hall</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hall_res.each do |hall_re| %>
      <tr>
        <td><%= hall_re.reservation_id %></td>
        <td><%= hall_re.hall %></td>
        <td><%= link_to 'Show', hall_re %></td>
        <td><%= link_to 'Edit', edit_hall_re_path(hall_re) %></td>
        <td><%= link_to 'Destroy', hall_re, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hall re', new_hall_re_path %>
