<h1>Listing gh_res</h1>

<table>
  <thead>
    <tr>
      <th>Reservation</th>
      <th>Guesttype</th>
      <th>Guestname</th>
      <th>Guestsex</th>
      <th>Guestage</th>
      <th>Guestemail</th>
      <th>Guestphone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gh_res.each do |gh_re| %>
      <tr>
        <td><%= gh_re.reservation_id %></td>
        <td><%= gh_re.guestType %></td>
        <td><%= gh_re.guestName %></td>
        <td><%= gh_re.guestSex %></td>
        <td><%= gh_re.guestAge %></td>
        <td><%= gh_re.guestEMail %></td>
        <td><%= gh_re.guestPhone %></td>
        <td><%= link_to 'Show', gh_re %></td>
        <td><%= link_to 'Edit', edit_gh_re_path(gh_re) %></td>
        <td><%= link_to 'Destroy', gh_re, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gh re', new_gh_re_path %>
