<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation:</strong>
  <%= @gh_re.reservation_id %>
</p>

<p>
  <strong>Guesttype:</strong>
  <%= @gh_re.guestType %>
</p>

<p>
  <strong>Guestname:</strong>
  <%= @gh_re.guestName %>
</p>

<p>
  <strong>Guestsex:</strong>
  <%= @gh_re.guestSex %>
</p>

<p>
  <strong>Guestage:</strong>
  <%= @gh_re.guestAge %>
</p>

<p>
  <strong>Guestemail:</strong>
  <%= @gh_re.guestEMail %>
</p>

<p>
  <strong>Guestphone:</strong>
  <%= @gh_re.guestPhone %>
</p>

<%= link_to 'Edit', edit_gh_re_path(@gh_re) %> |
<%= link_to 'Back', gh_res_path %>
