<!DOCTYPE html>
<html>
<head>
  <title>GUHD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Foundation" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Foundation" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        
        <nav>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Home",   '../logins' %></li>
            <li><%= link_to "Register",   '../users/new' %></li>
            
          </ul>
        </nav>
      </div>
    </header>
<h1 class="text-center">GOA UNIVERSITY</h1>
<h1 class="text-center">HELP DESK</h1>
<hr/>
    <div class="container">
      <%= yield %>
    </div>

</body>
<hr/>
   <nav class="navbar navbar-default navbar-fixed-bottom" >
  <div class="container">
  
    <h5 class="text-center"> &copy; GOA UNIVERSITY HELP DESK 2014</h5>
</div>
  </nav>

</html>
